@import "./mixins";

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-blue);

  &__container {
    --paddings: 15px;
    position: relative;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    padding: var(--second-offset) var(--paddings);

    /*&::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;

      width: calc(100% - (var(--paddings) * 2));
      height: 1px;
      background-color: var(--color-border);
      transform: translateX(50%);

    }*/

  }

  &__left {
    grid-column: 2 span;
  }
  &__right {
    grid-column: 10 span;
    display: flex;
    justify-content: flex-end;
    @include tablet {
      align-items: center;

    }
    @include mobile {
      grid-column: 2 span;
    }


  }

  &__nav {

    @include tablet {

      display: none;

     

      &--active {
        display: block;
      }
    }
  }
}
.burger {
  @include burger;
  --burger-width: 24px;
  --burger-height: 20px;
  --burger-line-height: 3px;



  display: none;
  color: var(--color-white);

  @include tablet {
    display: block;
  }
}
