.instagram {
  padding: var(--big-offset);

  &__input {
    margin-bottom: var(--small-offset);

  }
  &__btn {
    width: 100%;

  }
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__left {
    flex-shrink: 0;
    margin-right: var(--smal-offset);
    border-radius: 4px;
    width: 380px;
    background-color: var(--color-blue);
  }

  &__right {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(100% - (380px + var(--small-offset)));
  }

  &__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white);
  }
  &__descr {
    margin: 0 auto;
    margin-bottom: var(--main-offset);
    min-width: 260px;
    font: var(--middle-book);
    text-align: center;
    color: var(--color-white);
}

}
.callback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-offset) var(--second-offset);


}
