.instagram {
  padding: var(--big-offset);

  &__input {
    margin-bottom: var(--small-offset);

  }
  &__btn {
    width: 100%;

  }
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include small-tablet {
      justify-content: center;
    }
  }
  &__left {
    flex-shrink: 0;
    margin-right: var(--smal-offset);
    border-radius: 4px;
    width: 380px;
    background-color: var(--color-blue);

    @include small-tablet {
      margin-right: 0;
    }

  }

  &__right {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(100% - (380px + var(--small-offset)));

    @include small-tablet {
      display: none;
    }
  }

  &__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white);
  }
  &__descr {
    margin: 0 auto;
    margin-bottom: var(--main-offset);
    min-width: 260px;
    font: var(--middle-book);
    text-align: center;
    color: var(--color-white);
}

@include mobile {
  padding: 40px 0;
}
}

.callback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-offset) var(--second-offset);


}
