<section class="quiz">
  <div class="container">
    <h1 class="visually-hidden">Подбор товара</h1>
    <div class="quiz__content">

        <h3 class="title quiz__title">Мы подберем идеальную пару для вас</h3>
        <p class="quiz__descr">Ответьте на&nbsp;три вопроса и&nbsp;мы&nbsp;вышлем каталог с&nbsp;самыми подходящими для
          вас моделями</p>
        <form class="quiz-form" method="POST">
          <div class="quiz-questions">

          </div>
          <div class="asd">kuku</div>
        </form>


    </div>
  </div>
</section>
